
@import url("variables.css");

.resCarousel-inner .item {
	text-align: center;
}

.resCarousel-inner .item .tile div, .banner .item div {
	display: table;
	width: 100%;
	min-height: 250px;
	text-align: center;
}

.resCarousel-inner .item img {
	display: table-cell;
	vertical-align: middle;
	color: var(--white);
}

.banner .item div {
	
	background-size: cover;
	min-height: 550px;
}

.item .tile div {
	
	background-size: cover;
	height: 200px;
	color: var(--white);
}

.item div img {
	width: 100%;
    height: 250px;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 100;
    left: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
}

.resCarousel {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    margin-top:40px;
}

.resCarousel-inner {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    vertical-align: top;
}

.resCarousel-inner .item {
    display: inline-block;
    font-size: 14px;
    white-space: initial;
}


/*banner*/

.banner {
    overflow: hidden !important;
}


/*tile css*/

.resCarousel-inner .item .tile {
    background: var(--white);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 5px;
    cursor: pointer;
}


/*animation*/

.resCarousel[data-animator="lazy"] .item {
    transition: .6s ease all;
}

@media (max-width: 767px) {
    .leftRs,
    .rightRs {
        /*display: none;*/
    }
    .resCarousel-inner {
        overflow-x: auto;
    }
}


/*resCarousel Css End*/