@import url("variables.css");

* {
  box-sizing: border-box;
}

.product-page-header {
  position: relative;
  height: 270px;
  background-image:linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.7)), url("../img/header-products.jpg");
  background-attachment: fixed;
}

.validate {
  position: absolute;
}

.checkout-container {
  height: 1080px;
  margin-top: 50px;
}

.form-section h1 {
  display: inline;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #FF851B 0%, #121214 89%);
  border-image-slice: 1;
  font-family: Quicksand;
}

.ch-completed:before, .ch-completed:after {
  content: " ";
  display: table;
}

.ch-completed:after {
  clear: both;
}

.ch-completed {
  *zoom: 1;
}

.form-section {
  width: 75%;
  max-width: 1140px;
  margin: 0 auto;
}

.header-ch {
  width: 100%;
  margin-bottom: 1em;
}
.header-ch h1 {  
  font-weight: bold;
  font-weight: 500;
  font-size: 30px;
}

/* Checlout Flow Steps */
.flows ul {
  margin-bottom: 1em;
  text-align: center;
}
.flows ul li {
  font-size: .8em;
  display: inline-block;
  padding: .5em 1em;
  text-align: center;
}
.flows ul li.active {
  background: var(--bg-color);
}

/* Checout Form */
.forms {
  width: 70%;
  float: left;
  background: #fff;
  box-shadow: 0px 0px 8px -2px #8e8e8e;
  border-radius: 5px;
}
.forms .form-title {
  width: 100%;
  padding: 1em 1.5em;
  background: #f2f2f2;
  border-bottom: 1px solid #D0D0D0;
  font-weight: bold;
  font-size: .9em;
}
.forms .form-title span {
  padding: .75em .5em;
  background: #ff6d00;
  display: inline-block;
  color: var(--white);
  border-radius: 50%;
  margin: 0 1em 0 0;
  line-height: 0;
}
.forms .form-title a:link, .forms .form-title a:visited {
  font-size: .75em;
  color: #2979ff;
  text-transform: capitalize;
  font-weight: normal;
  float: right;
  position: relative;
  top: 7px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.forms .form-title a:hover, .forms .form-title a:active, .forms .form-title a:focus {
  color: #00358f;
}
.forms ul {
  padding: 1em 5%;
}
.forms ul li {
  float: left;
  width: 50%;
  position: relative;
  padding: 0 5% 0 0;
  margin: .5em 0;
}
.forms ul label {
  font-size: .8em;
  color: #676767;
  margin-bottom: .25em;
  display: block;
}
.forms ul label.active {
  right: 5px;
  left: auto;
}
.forms ul label span {
  text-align: right;
  float: right;
  color: #676767;
}
.forms ul input[type="text"], input[type="password"] , input[type="email"]{
  width: 100%!important;
  padding: .5em;
  font-size: .85em;
  color: #2e2e2e;
  border: 1px solid #D0D0D0;
  border-radius: 5px;
  transition: all 0.25s linear;
}
.forms ul input[type="text"].optional {
  background: #f4f4f4;
}
.forms ul input[type="text"]:focus {
  outline: 0;
  box-shadow: 0px 0px 10px -2px #2979ff;
}
.forms ul input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  background: #ff6d00;
  border: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: .65em;
  text-align: center;
  padding: .75em 2.5em;
  border-radius: 5px;
  letter-spacing: .025em;
}

/**** Receipt *****/

.receipt {
  float: right;
  width: 27%;
  background: #fff;
  box-shadow: 0px 0px 8px -2px #8e8e8e;
  border-radius: 5px;
}
.receipt h2 {
  width: 100%;
  padding: 1em 1.5em;
  background: #f2f2f2;
  border-bottom: 1px solid #D0D0D0;
  font-weight: bold;
  font-size: .9em;
}
.receipt .ch-wrap {
  padding: 1em 5%;
}
.receipt .promoCode {
  border-top: 1px solid #D0D0D0;
  padding: 1em 5%;
}
.receipt .promoCode label {
  font-size: .75em;
  color: #676767;
  display: block;
  margin-bottom: .5em;
}
.receipt .promoCode input {
  display: block;
  float: left;
  width: 88%;
  padding: 0.5em 1em;
  font-size: .85em;
  color: #676767;
  border: 1px solid #D0D0D0;
  border-radius: 5px 0 0 5px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.receipt .promoCode input:focus {
  outline: 0;
  box-shadow: 0px 0px 10px -2px #2979ff;
}
.receipt .promoCode a.btn {
  width: 12%;
  float: right;
  padding: 0;
  line-height: 2.3;
  margin: 0;
  text-align: center;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  background: #ff6d00;
  font-size: .85em;
  color: var(--white);
  text-decoration: none;
}

ul#billingInfo {
  display: none;
}

/**** Summary ****/

.items {
  border-bottom: 1px solid #D0D0D0;
  padding: 1em 0;
}
.items .cartSection {
  float: left;
  width: 85%;
}
.items .cartSection h3 {
  font-weight: bold;
  font-size: .85em;
}
.items .cartSection p {
  font-size: .65em;
  color: #676767;
  display: inline-block;
}
.items .cartSection p.stockStatus {
  color: #7cb342;
}
.items .removeWrap {
  width: 15%;
  float: right;
  text-align: center;
}

.subtotal {
  font-size: .7em;
  padding: 0 5% 1em;
}
.subtotal li {
  color: #676767;
  padding: .25em 0;
}
.subtotal li .label {
  margin-right: 1em;
  width: 25%;
  display: inline-block;
}
.subtotal li .value {
  display: inline-block;
}

.fa-edit:before {
    content: "\f044";
    color: #ff6d00;
}

.order {
    font-size: 15px;
    display: inline-block;
    font-size: 12px;
}

.order-total {
  margin-left: 50px;
}

.order-image {
    width: 60px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 39.375em) {
  .gov {
    width: 98%;
  }

  .forms, .receipt {
    width: 100%;
    margin-top: 20px;
  }
  .forms ul li, .receipt ul li {
    width: 100%;
  }
  .forms ul li input, .receipt ul li input {
    font-size: 16px;
  }
}
